.sweet-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1389a6;
}

.backimages {
  width: 50px;
  height: 50px;
  padding-top: 4px;
  padding-right: 40px;
}
/* .pargraph{
  font-size: 16pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.images{
  width: 280px;
  height: 250px;
  margin-right: 65%;
  border: 5px groove;
  border-radius: 10px;
  max-width: 50%;
} */
/* .score{
 width: 150px;
 padding:0.5px;
 text-align: center;
 height:150px;
 border-radius: 5px;
} */

.labour2 {
  display: flex;
  flex-direction: row;
}
.score1 {
  width: 170px;
  padding: 0.5px;
  text-align: center;
  border-radius: 5px;
  margin-top: 11px;
}

.score1 h3 {
  display: inline-block;
  padding: 7px;
}
.score2 {
  width: 170px;
  padding: 0.5px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 8px;
}

.score2 h3 {
  display: inline-block;
  padding: 4px;
}

.score3 {
  width: 170px;
  padding: 0.5px;
  text-align: center;
  border-radius: 5px;
}
.score3 h3 {
  display: inline-block;
  padding: 4px;
}

.overall {
  color: black;
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  padding-left: 1%;
  padding-left: 400px;
  margin-top: -320px;
}
.more {
  padding-right: 150px;
  margin-left: 37%;
  text-align: left !important;
}

.labour {
  padding-left: 700px;
  padding-right: 0.2px;
  font-size: 12px;
}
.enviorment {
  padding-left: 700px;
  font-size: 12px;
  padding-top: 12px;
}
.animal {
  padding-left: 700px;
  font-size: 12px;
  padding-top: 12px;
}
.detail {
  margin-top: -150px;
  margin-left: -80px;
}
.details {
  margin-bottom: 70px;
}
.MoreDetails {
  margin-left: 17px;
  margin-top: 16px;
}

.root {
  padding: 30px;
  padding-left: 12%;
}

.container {
  max-width: 30%;
  display: flex;
  flex-direction: row;
}

.os {
  font-size: 30pt !important;
}

.score22 {
  width: 70px;
  padding: 2px;
  text-align: center;
  height: 70px;
  border-radius: 5px;
}
.btn-metodolegy-brand {
  height: 40px;
  background-color: black;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 397px;
}
.name2 {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  padding: 5%;
  font-weight: bold;
}
.score22 h3 {
  text-align: center;
}
.MoreDetails p {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  text-align: left !important;
  margin-left: 2%;
  max-width: 0%;
}

.brandname {
  text-align: left;
  margin-left: 9%;
  font-family: "Roboto", sans-serif;
}

.div1 {
  display: inline-flex;
}

.div10 {
  display: inline-flex;
  margin-left: 0px;
  margin-right: 700px;
}
.div11 {
  display: inline-flex;
}
.div-margin-bottm {
  width: 100%;
  height: 40px;
}

.big-box-brand {
  display: flex;
  flex-direction: column;
  float: left;
}
.score-reasons {
  border: solid gray 1px;
  width: 100%;
  margin-top: 47px;
  height: 486px;
}
.label-div {
  display: inline-block;
}
.sweet-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 20% !important;
}

.par {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: bold;
  font-size: 25pt;
  margin-top: 30px;
  margin-left: 40px;
}

.par2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15pt;
  margin-top: 40px;
  margin-left: 10px;
}
.diva {
  background-color: #080404;
  width: 85%;
  height: 30px;
  margin-top: 20px;
  padding-top: 10px;
}
.a-z {
  background-color: #f4f4f4;
  width: 85%;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  margin-left: 95px;
  margin-top: 10px;
}
.par3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15pt;
  text-align: left;
  margin-left: 30px;
  color: white;
}
.div-box-brand {
  padding-left: 38px;
  background-color: white;
  border-color: #e5e5e5;
  max-width: 100%;
  border-style: groove;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.imge-brand {
  max-width: 30%;
  height: 259px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.name-brand {
  font-family: "Alegreya Sans SC", sans-serif;
  color: black;
  margin-right: 100px;
  font-size: 25pt;
  margin-top: 20px;
  float: left;
  margin-left: 10px;
}
.They-areas-they-are {
  display: initial;
}
.pargrah-brand {
  margin-top: 10px;
}

.descrip-brand {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
.OverallScore-brands-Overall-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 48px;
}

.OverallScore-brands-Environment-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 53px;
}
.OverallScore-brands-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 15px;
}

.brands-trans {
  display: flex;
  margin-right: 6px;
}
.description-brand {
  font-family: "Roboto", sans-serif;
  width: 430px;
  float: left;
}
.div-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.view {
  width: 160px;
  height: 30px;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}
.scrol-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 124px;
  padding-right: 20px;
  margin-top: -30px;
}
.scrol1-brand {
  height: 34px;
  margin-top: 10px;
  text-align: center;
  padding: 7px;
  width: 46px;
}
.ooo {
  padding-left: 10px;
}
.scrol2-brand {
  height: 30px;
  margin-top: 6px;
  margin-left: 10px;
  font-size: 10pt;
  text-align: center;
  padding-top: 6px;
  padding: 7px;
  width: 30px;
}
.scrol3-brand {
  height: 30px;
  margin-top: 10px;
  margin-left: 6px;
  font-size: 10pt;
  text-align: center;
  padding-top: 6px;
  padding: 7px;
  width: 30px;
}

.img-get {
  width: 180px;
  height: 150px;
  padding: 10px;
}
.close {
  float: right;
  background-color: white;
  width: 20px;
  margin-top: -17px;
}
.modal {
  height: 356px;
  border-radius: 10px;
}
.div-pop {
  border-radius: 10px;
}

.name-input {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid black;
  margin-left: 30px;
  width: 300px;
}
.if-we-are {
  font-size: 14px;
}
.informationinput {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 30px;
  border-style: solid;
  width: 374px;
  height: 50px;
}
.label-input-brand-name {
  margin-right: -25px;
  display: flex;
  justify-content: center;
}
.so-we-can {
  font-size: 12px;
}

.btn1 {
  margin-top: 20px;
  border-radius: 5px;
  width: 110px;
  height: 30px;
  color: white;
  background-color: black;
}

.div-label {
  display: inline-block;
  justify-content: center;
}
.form h3 {
  font-weight: bold;
}

.details-feedback-container {
  display: flex;
  flex-direction: row;
  float: left;
  margin-bottom: 5%;
}
