.backimages{
  width: 30px;
  height: 40px;
  padding-top: 10px;
  padding-right: 40px;

}
.pargraph{
  font-size: 16pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.images{
  width: 280px;
  height: 250px;
  margin-right: 65%;
  border: 5px groove;
  border-radius: 10px;
  max-width: 50%;
}
 .name{
   font-size: 16pt;
   font-weight: bold;
   font-family: 'Roboto', sans-serif;
   color: black;
   text-align: left !important;
   padding-left: 15%;
 }
.score{
 width: 150px;
 padding:0.5px;
 text-align: center;
 height:150px;
 border-radius: 5px;

}

.score1{
  width: 170px;
  padding:0.5px;
  text-align: center;
  border-radius: 5px;
}

.score1 h3{
  display: inline-block;
}
.score2{
  width: 170px;
  padding:0.5px;
  text-align: center;
  border-radius: 5px;
}

.score2 h3{
  display: inline-block;
}

.score3{
  width: 170px;
  padding:0.5px;
  text-align: center;
  border-radius: 5px;
}
.score3 h3{
  display: inline-block;
}

 .overall{
  color:black;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  padding-left: 400px;
  margin-top: -320px;
 }
 .more{
   padding-right: 150px;
   margin-left: 37%;
   text-align: left !important;
 }

 .labour {
   padding-left: 700px;
   padding-right: 0.2px;
   font-size: 12px;

 }
 .enviorment{
  padding-left: 700px;
  font-size: 12px;
   padding-top: 12px;

 }
 .animal{
  padding-left: 700px;
  font-size: 12px;
   padding-top: 12px;
 }
 .detail{
     margin-top: -150px;
     margin-left: -80px;
}
.details{
margin-bottom: 70px;
}

 .root{
   padding: 30px;
   padding-left: 12%;
 }

 .container{
   display: inline-flex;
   float: left;
   margin-bottom: 5%;
   max-width: 30%;
 }

 .os{
       font-size: 30pt !important;
 }
