.sweet-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1389a6;
}

.backimages{
  width: 50px;
  height: 50px;
  padding-top: 4px;
  padding-right: 40px;

}
.pargraph{
  font-size: 16pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.images{
  width: 280px;
  height: 250px;
  margin-right: 65%;
  border: 5px groove;
  border-radius: 10px;
  max-width: 50%;
}
.score{
 width: 150px;
 padding:0.5px;
 text-align: center;
 height:150px;
 border-radius: 5px;

}

.score1{
  width: 170px;
  padding:0.5px;
  text-align: center;
  border-radius: 5px;
}

.score1 h3{
  display: inline-block;
  padding:7px;
}
.score2{
  width: 170px;
  padding:0.5px;
  text-align: center;
  border-radius: 5px;
}

.score2 h3{
  display: inline-block;
  padding:4px;
}

.score3{
  width: 170px;
  padding:0.5px;
  text-align: center;
  border-radius: 5px;

}
.score3 h3{
  display: inline-block;
  padding:4px;
}

 .overall{
  color:black;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  padding-left: 1%;
  padding-left: 400px;
  margin-top: -320px;
 }
 .more{
   padding-right: 150px;
   margin-left: 37%;
   text-align: left !important;
 }

 .labour {
   padding-left: 700px;
   padding-right: 0.2px;
   font-size: 12px;

 }
 .enviorment{
  padding-left: 700px;
  font-size: 12px;
   padding-top: 12px;

 }
 .animal{
  padding-left: 700px;
  font-size: 12px;
  padding-top: 12px;
 }
 .detail{
     margin-top: -150px;
     margin-left: -80px;
}
.details{
margin-bottom: 70px;
}

 .root{
   padding: 30px;
   padding-left: 12%;
 }

 .container{
   display: inline-flex;
   float: left;
   margin-bottom: 5%;
   max-width: 30%;
 }

 .os{
       font-size: 30pt !important;
 }
 .MoreDetails{
   float:left;
   text-align: left !important;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 9%;
   margin-right: 20%;
   padding: 10px;

 }
 .score22{
    width: 70px;
    padding:2px;
    text-align: center;
    height:70px;
    border-radius: 5px;
    margin-top:-1%;
}
.score222{
   width: 70px;
   padding:2px;
   text-align: center;
   height:70px;
   border-radius: 5px;
   margin-top:-1%;
}
 .name2{
   font-size: 12pt;
   font-family: 'Roboto', sans-serif;
   padding:5%;
   font-weight: bold;
   margin-top: -1%
 }
 .score22 h3{
   text-align: center;
 }
 .score222 h3{
   text-align: center;
 }
 .labour2 p1{
   font-size: 12pt;
   font-family: 'Roboto', sans-serif;
   text-align: left !important;
   margin-top: 13%;
   background-color: pink;
   display: flex;
   justify-content: center;
 }
 .MoreDetails p2{
   font-size: 12pt;
   font-family: 'Roboto', sans-serif;
   text-align: left !important;
   background-color: pink;
 }
 .labour2{
text-align: left !important;
display: flex;
justify-content: center;
 }
 .enviorment22{
   display: flex;
   justify-content: center;
   margin-top: -0.1%;
 }
 .brandname{
   text-align: left;
   margin-left: 9%;
   font-family: 'Roboto', sans-serif;
 }

.pargraf  {
  margin-left: -26%;
  margin-top: 13%;
  width:40%;
}
 .pargraf2{
   margin-left: -36%;
   margin-top: 15%;
   width:40%;
}
 @media only screen and (max-width: 600px) {
   .pargraph{
      font-size: 10pt;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      margin-right: 27%
   }
   .backimages {
     width: 30px;
     height: 40px;
     padding-right: 16px;
     padding-top: 1%;
}
.images{
  width: 118px;
  height: 136px;
  margin-right: 83%;
  border: 5px groove;
  border-radius: 10px;
  max-width: 50%;
}
  .score{
    width: 67px;
  padding: 0.5px;
  text-align: center;
  height: 83px;
  border-radius: 5px

  }
.score1{
  width: 133px;
  padding:0.5px;
  text-align: center;
  border-radius: 5px;
}
.scoe1 h3{
  display: inline-block;
  padding:7px;
  font-size: 10px;
}
.score2{
  width: 133px;
  padding:0.5px;
  text-align: center;
  border-radius: 5px;
}
.score2 h3{
  display: inline-block;
  padding:4px;
  font-size: 10px;
}
.score3{
width: 133px;
  padding:0.5px;
  text-align: center;
  border-radius: 5px;
}
.score3 h3{
  display: inline-block;
  padding:4px;
  font-size: 10px;
}
 .overall{
   color: black;
   font-size: 12pt;
   font-family: 'Roboto', sans-serif;
   padding-left: 1%;
   padding-left: 136px;
   margin-top: -204px;
 }
 .more {
   padding-right: 150px;
   margin-left: 28%;
   font-size: 8pt;
   text-align: left !important;
 }
 .labour {
   padding-left: 700px;
   padding-right: 0.2px;
   font-size: 12px;
 }
 .enviorment{
  padding-left: 700px;
  font-size: 12px;
   padding-top: 12px;

 }
 .animal{
  padding-left: 700px;
  font-size: 12px;
  padding-top: 12px;
 }
 .detail{
   margin-top: -83px;
  margin-left: -482px;
}
.details{
margin-bottom: 70px;
}
 .root{
   padding: 30px;
   padding-left: 12%;
 }
 .container{
   display: inline-flex;
   float: left;
   margin-bottom: 5%;
   max-width: 30%;
 }

 .os{
   font-size: 15pt !important;

 }
 .score h3{
   font-size: 8pt;
 }
 .MoreDetails{
   float:left;
   width:40%;
   padding-top: 20%;
   text-align: left !important;

 }
 .score22{
    width: 70px;
    padding:2px;
    text-align: center;
    height:70px;
    border-radius: 5px;

}
 .name2{
   font-size: 10pt;
   font-family: 'Roboto', sans-serif;
   padding:5%;
   font-weight: bold;

 }
 .score22 h3{
   text-align: center;
   font-size: 10px;

 }
 .MoreDetails p{
   font-size: 9pt;
   font-family: 'Roboto', sans-serif;
   text-align: left !important;
   margin-left: 2%;

 }
 .labour2{
   display: inline-flex;
   text-align: left !important;
 }
 .brandname{
   text-align: left;
   margin-left: 10%;
   font-family: 'Roboto', sans-serif;
 }

 }
