.root1{
  margin-top: 5%;
  max-width:100%;
  margin-right: 15%;
}

.inputborder{
margin-left: 10%;
border-bottom: solid !important;
border-style: none;
width:85%;
margin-bottom: 2%;
padding-left: 2%;

}

.name2 h3{
  font-size: 16pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.namedetails{
  display: flex;
  text-align: center;

}
.namedetails h3{
  font-size: 16pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1%;
  margin-left: 1%;
  width: 15%;


}
.button{
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  background-color: #1389A6;
  margin-top: 5%;
  border: 5px ;
  border-radius: 10px;
  width: 20%;
  height: 20%;
}
