root1{
  margin-top: 5%;
  max-width:100%;
  margin-right: 15%;
}
.inputborder{
  margin-left: 6%;
  border-bottom: solid !important;
  border-style: none;
  width: 75%;
  margin-bottom: 2%;
  padding-left: 0%;
  font-size: 16pt;
}
.GiveFeedback{
  font-size: 16pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 30%;
  margin-right: 19%;
}
.root1{
    margin-left: 3%;
}
.namedetails{
  display: flex;
  text-align: center;
  margin-right: 10%;
}
.namedetails h3{
  font-size: 16pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1%;
  margin-left: 1%;
  width: 12%;
}
.button{
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  background-color: #1389A6;
  margin-top: 2%;
  border: 5px ;
  border-radius: 10px;
  width: 15%;
  height: 20%;
  margin-right: 19%;
}
@media only screen and (max-width: 600px) {
  .inputborder{
    margin-left: 10%;
    border-bottom: solid !important;
    border-style: none;
    width: 57%;
    margin-bottom: 2%;
    padding-left: 2%;
    font-size: 10pt;
  }
  .button{
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    background-color: #1389A6;
    margin-top: 5%;
    border: 5px ;
    border-radius: 10px;
    width: 20%;
    height: 20%;
    margin-left: 35%;
  }
}
